<div class="container"> 
    <app-button icon="undo"></app-button>
    <app-button icon="redo"></app-button>
    <span class="space"></span>
    <app-button icon="pan_tool"></app-button>
    <app-button icon="title"></app-button>
    <app-button icon="remove" rotateIcon="rotate(45deg)"></app-button>
    <app-button icon="show_chart"></app-button>
    <app-button icon="call_made"></app-button>
    <app-button icon="check_box_outline_blank"></app-button>
    <app-button icon="radio_button_unchecked"></app-button>
    <app-button icon="crop_original"></app-button>
    <span class="space"></span>
    <app-button icon="zoom_in"></app-button>
    <app-button icon="zoom_out"></app-button>
    <app-button icon="fullscreen"></app-button>
    <app-button icon="fullscreen_exit"></app-button>
</div>