<div class="container">
  <mat-accordion multi="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header color="primary">
        <i class="material-icons">title</i>
        Texto
      </mat-expansion-panel-header>
      <app-color-picker
        [color]="property.textColor"
        [opacity]="property.textOpacity"
        (onChange)="updateText($event)"
      ></app-color-picker>
      <mat-form-field appearance="outline">
        <mat-label>Tamaño</mat-label>
        <input matInput type="number" [(ngModel)]="property.textSize" min="1" />
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-checkbox (click)="$event.stopPropagation()"></mat-checkbox>
        <i class="material-icons">format_paint</i>
        Relleno
      </mat-expansion-panel-header>
      <app-color-picker
        [color]="property.backgroundColor"
        [opacity]="property.backgroundOpacity"
        (onChange)="updateFill($event)"
      ></app-color-picker>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-checkbox (click)="$event.stopPropagation()"></mat-checkbox>
        <i class="material-icons">crop_square</i>
        Contorno
      </mat-expansion-panel-header>
      <app-color-picker
        [color]="property.lineColor"
        [opacity]="property.lineOpacity"
        (onChange)="updateStroke($event)"
      ></app-color-picker>

      <mat-form-field appearance="outline">
        <mat-label>Grosor</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="property.lineWidth"
          min="1"
        />
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
</div>
