<div class="container">
  <app-circle-button icon="undo" info="Deshacer"></app-circle-button>
  <app-circle-button icon="redo" info="Rehacer"></app-circle-button>
  <span class="space"></span>
  <app-circle-button
    icon="pan_tool"
    info="Seleccionar"
    [isSelected]="shapeEventService.typeShape == null"
    (click)="selectShape()"
  ></app-circle-button>
  <app-circle-button
    icon="title"
    info="Texto"
    [isSelected]="shapeEventService.typeShape == 'foreignObject'"
    (click)="selectText()"
  ></app-circle-button>
  <app-circle-button
    icon="remove"
    rotateIcon="rotate(45deg)"
    info="Línea"
    [isSelected]="shapeEventService.typeShape == 'line'"
    (click)="selectLine()"
  ></app-circle-button>
  <app-circle-button
    icon="show_chart"
    info="Polilínea"
    [isSelected]="shapeEventService.typeShape == 'polyline'"
    (click)="selectPolyline()"
  ></app-circle-button>
  <app-circle-button
    icon="check_box_outline_blank"
    info="Rectángulo"
    [isSelected]="shapeEventService.typeShape == 'rect'"
    (click)="selectRect()"
  ></app-circle-button>
  <app-circle-button
    icon="radio_button_unchecked"
    info="Elipse"
    [isSelected]="shapeEventService.typeShape == 'ellipse'"
    (click)="selectEllipse()"
  ></app-circle-button>
  <span class="space"></span>
  <app-circle-button
    icon="zoom_in"
    info="Ampliar"
    (click)="zoom(ZOOM_IN)"
  ></app-circle-button>
  <app-circle-button
    icon="zoom_out"
    info="Disminuir"
    (click)="zoom(ZOOM_OUT)"
  ></app-circle-button>
  <app-circle-button
    icon="fullscreen_exit"
    info="Reestablecer"
    (click)="zoom(ZOOM_100)"
  ></app-circle-button>
</div>
