<div class="container"> 
    <app-circle-button icon="undo"></app-circle-button>
    <app-circle-button icon="redo"></app-circle-button>
    <span class="space"></span>
    <app-circle-button icon="pan_tool"></app-circle-button>
    <app-circle-button icon="title"></app-circle-button>
    <app-circle-button icon="remove" rotateIcon="rotate(45deg)"></app-circle-button>
    <app-circle-button icon="show_chart"></app-circle-button>
    <app-circle-button icon="call_made"></app-circle-button>
    <app-circle-button icon="check_box_outline_blank"></app-circle-button>
    <app-circle-button icon="radio_button_unchecked"></app-circle-button>
    <app-circle-button icon="crop_original"></app-circle-button>
    <span class="space"></span>
    <app-circle-button icon="zoom_in"></app-circle-button>
    <app-circle-button icon="zoom_out"></app-circle-button>
    <app-circle-button icon="fullscreen"></app-circle-button>
    <app-circle-button icon="fullscreen_exit"></app-circle-button>
</div>