<svg
    class="canvas"
    #canvas
    [attr.viewBox]="'0 0 '+canvas.width.baseVal.value + ' ' + canvas.height.baseVal.value">
    <circle cx="12" cy="12" r="100"></circle>
    <animate
        #animation
        attributeName="viewBox"
        [attr.values]="myViewBox"
        begin="0s"
        dur="0.5s"
        calcMode="spline"
        keySplines=".5 0 .5 1"
        fill="freeze" />
</svg>
<app-button
    isFloat="true"
    position="top"
    icon="keyboard_arrow_up"
    (click)="scroll(VERTICAL, LEFT_OR_UP)"
    (dblclick)="scroll(VERTICAL, LEFT_OR_UP, canvas.height.baseVal.value)"
    (mousedown)="moveScrollPressed(VERTICAL, LEFT_OR_UP)"
    (mouseup)="stopScroll()"
    (mouseleave)="stopScroll()">
</app-button>
<app-button
    isFloat="true"
    position="bottom"
    icon="keyboard_arrow_down"
    (click)="scroll(VERTICAL, RIGHT_OR_DOWN)"
    (dblclick)="scroll(VERTICAL, RIGHT_OR_DOWN, canvas.height.baseVal.value)"
    (mousedown)="moveScrollPressed(VERTICAL, RIGHT_OR_DOWN)"
    (mouseup)="stopScroll()"
    (mouseleave)="stopScroll()">
</app-button>
<app-button
    isFloat="true"
    position="left"
    icon="keyboard_arrow_left"
    (click)="scroll(HORIZONTAL, LEFT_OR_UP)"
    (dblclick)="scroll(HORIZONTAL, LEFT_OR_UP, canvas.width.baseVal.value)"
    (mousedown)="moveScrollPressed(HORIZONTAL, LEFT_OR_UP)"
    (mouseup)="stopScroll()"
    (mouseleave)="stopScroll()">
</app-button>
<app-button
    isFloat="true"
    position="right"
    icon="keyboard_arrow_right"
    (click)="scroll(HORIZONTAL, RIGHT_OR_DOWN)"
    (dblclick)="scroll(HORIZONTAL, RIGHT_OR_DOWN, canvas.width.baseVal.value)"
    (mousedown)="moveScrollPressed(HORIZONTAL, RIGHT_OR_DOWN)"
    (mouseup)="stopScroll()"
    (mouseleave)="stopScroll()">
</app-button>